<h1>You are an admin, </br>
    >View Customer details </br>
    >Total purchase last month </br>
    >Lowest purchase among the customers </br>
    >Highest purchase among the customers
</h1>

<a href="http://localhost:5000/customers">Get cutsomer details</a> </br>
<a href="http://localhost:5000/customers/getTotalIncome">Get Total income last month</a> </br>
<a href="http://localhost:5000/customers/minPurchase">View Lowest purchase among the customers</a> </br>
<a href="http://localhost:5000/customers/maxPurchase">View Highest purchase among the customers</a> 
